p{
  font-family: Helvetica;
  

}
.popup-list-games{
  display: none;
  
}
.heavy {
  font-weight: bolder;
  
}
.heavy:hover {
  cursor: pointer;
}
.page-content {
  padding: 5px;
  margin: auto;
  background-color: rgb(255,255,255);
  width: 70%;
  height: 95%;
}
body {
  background-color: rgb(255,255,0);
}
.arrow-btn {
  transition-duration: 0.5s;
}
