p{
  font-family: Helvetica;
  

}
.popup-list-games{
  display: none;
  
}
.heavy {
  font-weight: bolder;
  
}
.heavy:hover {
  cursor: pointer;
}
.page-content {
  margin: auto;
  background-color: rgb(255,255,255);
  width: 500px;
}
body {
  background-color: rgb(255,255,0);
}
  
